# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Database
sql_app.db
*.sqlite3

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
